.stepper-container {
  display: flex;
  justify-content: space-between;
}

.step {
  z-index: 2;
}

.step-number {
  height: 2rem;
  width: 2rem;
  border: 1px solid lightgray;
  border-radius: 50%;
  background-color: lightgray;

  display: flex;
  justify-content: center;
  align-items: center;
}

.active-step {
  background-color: blue;
  color: white;
}

.complete {
  background-color: green;
  color: white;
}

.step-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.position-relative {
  position: relative;
}

.step-progress {
  position: absolute;
  top: 0.85rem;
  height: 0.3rem;
  border: 1px solid lightgray;
  border-radius: 1rem;
  background-color: lightgray;
  overflow: hidden;
}

.step-progress-bar {
  background-color: green;
  height: 100%;
  transition: all 0.2 ease;
}
