.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.position-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-dialog {
  width: 20%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: white;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
}
