.timeline-dot {
  width: 5px;
  height: 5px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 0.25rem;
}

.timeline-connector {
  background-color: black;
  width: 2px;
  flex: 1;
}

.timeline-content {
  margin-bottom: 2rem;
  max-width: 30rem;
}
